:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 2rem;
}

.container {
  position: relative;
  width: 640px;
  height: 480px;
  border: 1px solid #fff;
}

/* videoとcanvasを重ねて表示 */
#webcam,
#output_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(-1) scaleX(-1);
}

/* 映像を左右反転させて鏡のように見せる */
#webcam {
  transform: scaleY(-1) scaleX(-1);
}

#graph {
  
  height: 20%;
  width: 100%;
}
